<!--
 * @Descripttion: 
 * @version: 
 * @Author: 张安然
 * @Date: 2019-11-17 18:52:43
 * @LastEditors: 张安然
 * @LastEditTime: 2019-11-19 19:55:33
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
</head>
<body>
    index.html

    {{
       comment.name 
    }}

    {{
        comment.title
    }}

    <h3>留言板项目</h3>
    <a href="/comment">留言板</a>
    <hr>

    <h3>数据库的crud</h3>
    <a href="/students">数据库的crud</a>

    <h3>mongodb使用</h3>
    <a href="/mongodb/simple">mongodb使用</a>
</body>
</html>