<!--
 * @Descripttion: 
 * @version: 
 * @Author: 张安然
 * @Date: 2019-11-17 19:13:38
 * @LastEditors: 张安然
 * @LastEditTime: 2019-11-18 10:02:18
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>增加评论</title>
</head>

<body>
    <h4>输入你的评论</h4>
    <form action="/postComment" method="post">
        <input type="text" name="name" id="name">
        <input type="text" name="title" id="title">
        <input type="submit" value="提交">
    </form>

</body>

</html>